html{
    background-image: url(./imagens/imagem\ perfeita.jpg);
    color:aliceblue;
    cursor:grab
}

#fotodc{
   text-align: center;
   border-radius: 50%;
  
}

#nomedc{
    text-align: center;
    font-size:larger;
}  

#fotinha{
    border-radius: 50%;
}

#abelha{
    text-align: center;
    border-radius: 50%;
}


    




